{% extends 'pages/mbase.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between mt-3">
    <div class="my_title">
        <h1 class="main-header">Создать заявку</h1>
        <img style="margin-top: -50px;" class="w-75" src="{% static 'images/title_png.png' %}" alt="help"> 
    </div>
    <!-- /.my_title -->
<div class="home_link">
    <a href="{% url 'manager' %}"><img class="w-50" src="{% static 'images/home_png.png' %}" alt="help"> </a>       
</div>
<!-- /.home_link -->
</div>
<!-- /.d-flex -->
<div class="container mt-5">        
         <div class="row">
            <div class="offset-md-3 col-md-6 offset-md-3 col-12">
                <form action="" method="post">
                    {% csrf_token %}  
<div class="d-flex justify-content-between">
                    <div style="min-width: 250px;" class="form-group">
                        <label class="form-label">Тема</label>
                        <select name="theme" class="form-select" id="">
                            {% for theme in themes %} 
                            <option value="{{  theme.id }}" > {{ theme }}  </option>
                            {% endfor %}  
                        </select>
                      </div>
                    <!-- /.form-group -->
                    <div style="min-width: 250px;" class="form-group">
                        <label class="form-label">Автор заявки (клиент)</label>
                        <select name="client" class="form-select" id="">
                            {% for client in clients %} 
                            <option value="{{ client.id }}" >{{ client }}</option>
                            {% endfor %}  
                        </select>
                      </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between">
                    <div style="min-width: 250px;" class="form-group">
                        <label class="form-label">Приоритет</label>
                        <select name="priority" class="form-select" id="">
                            {% for priority in priorities %} 
                            <option value="{{  priority.id }}" > {{ priority }}  </option>
                            {% endfor %}  
                        </select>
                      </div>
                    <!-- /.form-group -->
                    <div style="min-width: 250px;" class="form-group">
                        <label class="form-label">Номер телефона</label>
                        <input name="phone" type="text" class="form-control" >
                      </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between">
                    <div style="min-width: 250px;" class="form-group">
                        <label class="form-label">Заголовок</label>
                        <input name="title" type="text" class="form-control" >
                      </div>
                    <!-- /.form-group -->
                    <div style="width: 250px;" class="form-group">
                        <label class="form-label">Наблюдатель</label>
                        <select name="emp" class="form-select" id="">
                            {% for emp in emps %} 
                            <option value="{{  emp.id }}" > {{ emp }}  </option>
                            {% endfor %}  
                        </select>
                      </div>
                    <!-- /.form-group -->                    
                </div>
                <!-- /.d-flex -->
                <div  class="form-group">
                    <label class="form-label">Текст</label>
                    <textarea name="text" class="form-control"  rows="10"></textarea>
                </div>
                <!-- /.form-group -->
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    <!-- /.form-group --> 
                 </form>
            </div>
            <!-- /.offset-md-3 col-md-6 offset-md-3 col-12 -->
         </div>
         <!-- /.row -->    
</div>
<!-- /.container -->
{% endblock %}