{% extends 'pages/mbase.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between mt-3">
    <div class="my_title">
        <h1 class="main-header">Изменить атрибуты заявки {{ order.id }}</h1>
        <img style="margin-top: -50px;" class="w-100" src="{% static 'images/title_png.png' %}" alt="help"> 
    </div>
    <!-- /.my_title -->
<div class="home_link">
    <a href="{% url 'manager' %}"><img class="w-50" src="{% static 'images/home_png.png' %}" alt="help"> </a>       
</div>
<!-- /.home_link -->
</div>
<!-- /.d-flex -->
<div class="container mt-5">        
         <div class="row">
            <div class="offset-md-3 col-md-6 offset-md-3 col-12">
                <form action="" method="post">
                    {% csrf_token %}  
<div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label class="form-label">Тема</label>
                        <select name="theme" class="form-select" id="">
                            {% for theme in themes %} 
                            {% if theme.id == order.theme.id %}
                            <option selected value="{{  theme.id }}" > {{ theme }}  </option>
                            {% else %}
                            <option value="{{  theme.id }}" > {{ theme }}  </option>
                            {% endif %}                            
                            {% endfor %}  
                        </select>
                      </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="form-label">Автор заявки (клиент)</label>
                        <input readonly name="client" value="{{ order.client }}" type="text" class="form-control" >
                       </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label class="form-label">Приоритет</label>
                        <select name="priority" class="form-select" id="">
                            {% for priority in priorities %} 
                            {% if priority.id == order.priority.id %}
                            <option selected value="{{  priority.id }}" > {{ priority }}  </option>
                            {% else %}
                            <option value="{{  priority.id }}" > {{ priority }}  </option>
                            {% endif %}      
                            {% endfor %}  
                        </select>
                      </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="form-label">Номер телефона</label>
                        <input readonly name="phone" value="{{ order.phone }}" type="text" class="form-control" >
                      </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label class="form-label">Заголовок</label>
                        <input name="title" type="text" class="form-control" value="{{ order.title }}" >
                      </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="form-label">Наблюдатель</label>
                        <select name="emp" class="form-select" id="">
                            {% for emp in emps %} 
                            {% if emp.id == order.emp.id %}
                            <option selected value="{{  emp.id }}" > {{ emp }}  </option>
                            {% else %}
                            <option value="{{  emp.id }}" > {{ emp }}  </option>
                            {% endif %}      
                            {% endfor %}  
                        </select>
                      </div>
                    <!-- /.form-group -->                    
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label class="form-label">Автор заявки (сотрудник)</label>
                        <input readonly name="emp_cr" type="text" class="form-control" value="{{ order.emp_creator }}" >
                      </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="form-label">Статус</label>
                        <select name="status" class="form-select" id="">
                            {% for status in statuses %} 
                            {% if status.id == order.status.id %}
                            <option selected value="{{  status.id }}" > {{ status }}  </option>
                            {% else %}
                            <option value="{{  status.id }}" > {{ status }}  </option>
                            {% endif %}      
                            {% endfor %}  
                        </select>
                      </div>
                    <!-- /.form-group -->                    
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label class="form-label">Дата создания</label>                        
                        <input readonly  name="cdate" type="text" class="form-control" value="{{ order.cdate|date:'d.m.Y' }}" >
                      </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="form-label">Дата закрытия</label>
                        <input  name="edate" type="date" class="form-control">
                      </div>
                    <!-- /.form-group -->                    
                </div>
                <!-- /.d-flex -->
                <div class="form-group">
                    <label class="form-label">Текст</label>
                    <textarea name="text" class="form-control"  rows="3">{{ order.otext }}</textarea>
                </div>
                <!-- /.form-group -->
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </div>
                    <!-- /.form-group --> 
                 </form>
            </div>
            <!-- /.offset-md-3 col-md-6 offset-md-3 col-12 -->
         </div>
         <!-- /.row -->    
</div>
<!-- /.container -->
{% endblock %}