{% extends 'pages/mbase.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between mt-3">
    <div class="my_title">
        <h1 class="main-header">Выбор периода для отчетов</h1>
        <img style="margin-top: -50px;" class="w-100" src="{% static 'images/title_png.png' %}" alt="help"> 
    </div>
    <!-- /.my_title -->
<div class="home_link">
    <a href="{% url 'manager' %}"><img class="w-50" src="{% static 'images/home_png.png' %}" alt="help"> </a>       
</div>
<!-- /.home_link -->
</div>
<!-- /.d-flex -->
<div class="container mt-5">        
         <div class="row">
            <div class="offset-md-3 col-md-6 offset-md-3 col-12">
                <form action="" method="post">
                    {% csrf_token %}   
                <div class="form-group">
                    <label class="form-label">Начало периода</label>
                    <input required name="sp" type="date" class="form-control"  >
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="form-label">Окончание периода</label>
                    <input required name="ep" type="date" class="form-control"  >
                </div>
                <!-- /.form-group -->
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary">Выбрать</button>
                    </div>
                    <!-- /.form-group --> 
                 </form>
            </div>
            <!-- /.offset-md-3 col-md-6 offset-md-3 col-12 -->
         </div>
         <!-- /.row -->    
</div>
<!-- /.container -->
{% endblock %}