{% extends 'pages/mbase.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between mt-3">
    <div class="my_title">
        <h1 class="main-header">Поиск заявок</h1>
        <img style="margin-top: -50px;" class="w-75" src="{% static 'images/title_png.png' %}" alt="help"> 
    </div>
    <!-- /.my_title -->
<div class="home_link">
    <a href="{% url 'manager' %}"><img class="w-50" src="{% static 'images/home_png.png' %}" alt="help"> </a>       
</div>
<!-- /.home_link -->
</div>
<!-- /.d-flex -->
<div class="mt-5">        
    <a class="btn btn-primary" href="{% url 'find_order' 'all' %}">Все</a> 
    <a class="btn btn-primary" href="{% url 'find_order' 'wrez' %}">Без резолюции</a> 
    <a class="btn btn-primary" href="{% url 'find_order' 'rez' %}">С резолюцией</a>  
    <a class="btn btn-primary" href="{% url 'find_order' 'creator' %}">Я автор</a> 
    <a class="btn btn-primary" href="{% url 'find_order' 'executor' %}">Я исполнитель</a>      
</div>
<!-- /.mt-5 -->

<div class="order_block mt-5 p-2">
    <p>Показано {{ founded }}/{{ all }}</p>
    {% for order in orders %} 
    <div class="order_item p-2 mb-3">
        Заявка {{ order.id }} -  <a class="text-white" href="{% url 'order_info' order.id %}">Детали</a>
    </div>
    <!-- /.order_item -->
    {% endfor %}  
</div>
<!-- /.order_block -->
{% endblock %}