{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

<div class="row"  >
    <div class="offset-md-3 col-md-6 offset-md-3 col-12 p-3 text-center">
        <h2 class="text-primary fw-bold mt-5">Система поддержки клиентов</h2>
        <h5 class="text-primary mt-3">Для начала работы авторизируйтесь</h5>    
        <img class="w-50" src="{% static 'images/bg.png' %}" alt="help">     
    </div >              
</div>

{% endblock %}