{% extends 'pages/mbase.html' %}
{% load static %}

{% block content %}

<h1 class="main-header">Главная</h1>
<img style="margin-top: -50px;" class="w-25" src="{% static 'images/title_png.png' %}" alt="help"> 

<div class="row mt-5">
    <div class="mt-5 offset-md-4 col-md-4 offset-md-4 col-12 d-flex flex-column">
        <a href="{% url 'find_order' 'all' %}" class="btn btn-primary btn-lg mb-5 mt-5">Найти заявку</a>
        <a href="{% url 'add_order' %}" class="btn btn-primary btn-lg mb-5">Создать заявку</a>
        <a href="{% url 'reports' %}" class="btn btn-primary btn-lg">Отчеты</a>
    </div>
    <!-- /.offset-md-4 col-md-4 offset-md-4 col-12 -->
</div>
<!-- /.row -->

{% endblock %}