{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->  
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrapsp.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>HelpDesk</title>
    <style> 
     .mySlides {display: none;}
     .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.act {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
      </style>
  </head>
  <body>     
    {% include 'pages/mnavbar.html' %}
      {% if messages %}
      {% for message in messages %}
      <div class="container">      
      <div class="alert alert-dismissible alert-danger text-center mt-3">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
      </div>     
    </div>
    <!-- /.container -->
      {% endfor %}
      {% endif %}
<div class="container-fluid">
{% block content %}
{% endblock %}
</div>
<!-- /.container -->
<script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
</body>
</html>