{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img class="w-25" src="{% static 'images/home_png.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">                  
          {% if user.is_authenticated %}        
          {% if user.is_superuser  %}          
          <li class="nav-item">
            <a class="nav-link active" href="/admin/">Администрирование</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link text-info">Привет, {{user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-danger" href="{% url 'logout' %}">Выход</a>
          </li>
          {% else %} 
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'manager' %}">Личный кабинет</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active text-info fw-bold" href="#">Привет, {{user.username}}</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link active text-danger" href="{% url 'logout' %}">Выход</a>
          </li>   
          {% endif %} 
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Вход</a>
          </li>          
          {% endif %}          
        </ul>       
      </div>
    </div>
  </nav>