{% extends 'pages/mbase.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between mt-3">
    <div class="my_title">
        <h1 class="main-header">Работа с заявками</h1>
        <img style="margin-top: -50px;" class="w-75" src="{% static 'images/title_png.png' %}" alt="help"> 
    </div>
    <!-- /.my_title -->
<div class="home_link">
    <a href="{% url 'manager' %}"><img class="w-50" src="{% static 'images/home_png.png' %}" alt="help"> </a>       
</div>
<!-- /.home_link -->
</div>
<!-- /.d-flex -->
<div class="row mt-5">
    <div class="col-md-8 col-12 order_block p-5">
<h5>Заявка № {{ order.id }}</h5>
<h4>{{ order.title }}</h4>
<p>{{ order.otext }}</p>
    </div>
    <!-- /.col-md-8 col-12 -->
    <div class="offset-md-1 col-md-3 col-12 order_block p-5">
        <p class="fw-bold">Заявка № {{ order.id }}</p> 
            <p  class="fw-bold">Атрибуты заявки:</p>
            <p  > <span class="fw-bold">  Клиент:</span> {{ order.client }}, {{ order.phone }}</p>  
            <p  ><span class="fw-bold"> Автор:</span> {{ order.emp_creator }}</p>    
            <p  ><span class="fw-bold"> Ответственный:</span> {{ order.emp_executor }}</p>       
            <p  ><span class="fw-bold"> Дата создания:</span> {{ order.cdate }}</p>  
            <p  ><span class="fw-bold"> Дата закрытия:</span> {{ order.edate }}</p>  
            <p  ><span class="fw-bold"> Тема:</span> {{ order.theme }}</p>
            <p  ><span class="fw-bold"> Приоритет:</span> {{ order.priority }}</p>   
            <p  ><span class="fw-bold"> Статус:</span> {{ order.status }}</p>                
          <div class="text-center">
            <a class="btn btn-info" href="{% url 'change_order' order.id %}">Изменить атрибуты </a> 
          </div>
          <!-- /.text-center -->
          
    </div>
    <!-- /.col-md-4 col-12 -->
</div>
<!-- /.row -->
<div class="p-5 order_block mt-5 mb-3">
    <h5>История изменения заявки</h5>
    <a class="btn btn-info" href="{% url 'new_change' order.id %}">Новая итерация </a> 
    <table class="table table-hover mt-3">
        <thead>
          <tr class="table-primary">            
            <th scope="col">Изменение</th>
            <th scope="col">Дата</th>            
          </tr>
        </thead>
        <tbody>    
            {% for change in changes %}      
          <tr>            
            <td>{{ change.ctext }}</td>
            <td>{{ change.cdate }}</td>           
          </tr>   
          {% endfor %}         
        </tbody>
      </table>
</div>
<!-- /.container-fluid -->
{% endblock %}