{% extends 'pages/mbase.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between mt-3">
    <div class="my_title">
        <h1 class="main-header">Отчеты</h1>
        <img style="margin-top: -50px;" class="w-50" src="{% static 'images/title_png.png' %}" alt="help"> 
    </div>
    <!-- /.my_title -->
<div class="home_link">
    <a href="{% url 'manager' %}"><img class="w-50" src="{% static 'images/home_png.png' %}" alt="help"> </a>       
</div>
<!-- /.home_link -->
</div>
<!-- /.d-flex -->
<div class="container mt-5">        
    <a class="btn btn-info" href="{% url 'choose_period' %}">Выбрать период </a>   
    <div class="order_block p-2 mt-3">
        <div class="order_item p-2 d-flex justify-content-between align-items-center">
          <p >Отчет о сроках закрытия заявок по сотрудникам</p> 
          <p><a class="btn btn-secondary" href="{% url 'manager' %}">Выгрузить </a> </p>
        </div>
        <!-- /.order_item -->
        <div class="order_item p-2 mt-3 d-flex justify-content-between align-items-center">
           <p>Отчет о сроках закрытия заявок по подразделению</p> 
           <p><a class="btn btn-secondary" href="{% url 'manager' %}">Выгрузить </a> </p>
        </div>
        <!-- /.order_item -->
        <div class="order_item p-2 mt-3 d-flex justify-content-between align-items-center">
           <p>Отчет о количестве поступивших заявок</p> 
            <p><a class="btn btn-secondary" href="{% url 'manager' %}">Выгрузить </a> </p>
        </div>
        <!-- /.order_item -->
    </div>
    <!-- /.order_block -->
</div>
<!-- /.container -->
{% endblock %}